.TodoItem{
    
    list-style: none;
    height: 36px;
    max-height: auto;
    min-width: 300px;
    max-width: 500px;
    padding: 5px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 1px 3px  black;
    background-color: white;
    background-image: 0;
    

    /* background-color: rgb(250, 251, 250); */
    
    
    
}
.TodoItem p{
    width: 100%;
    margin: 15px;
}
.TodoItem button{
    height: 74%;
    width: 30px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    
}
.TodoItem button.deleted{
   background-image: url('/src/assets/icon_delete.svg'); 
   background-position: center;
   background-size: cover;
   background-color: white;
}
.TodoItem button.unchecked{
    background-image: url('/src/assets/icon-checked.svg'); 
    background-position: center;
    background-size: 120%;
    background-color: white;
    
}
.TodoItem button.deleted:hover{
    background-image: url('/src/assets/icon-deletedd.svg'); 
   background-position: center;
   background-size: cover;
   background-color: white;
}
.TodoItem button.checked{
    background-image: url('/src/assets/icon-checkedd.svg'); 
   background-position: center;
   background-size: cover;
   background-color: white;
}

