.TodoItem {

    list-style: none;
    min-height: 145px;
    max-height: 400px;
    min-width: 400px;
    padding: 0px;
    margin: 0px 0px 01px 0px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 40px;
    box-shadow: 0px 1px 5px 1px#1b1c70;
    background-color: #92e5f4;

    /* background-color: rgb(250, 251, 250); */

}

.TodoItem p {
    width: 100%;
    margin: 0px 0px 15px 0px;
    font-size: 1.8rem;
    font-weight: 500;
}
.TodoItem span{
    font-weight: 600;
}


.TodoItem .TodoItem-div {
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 10px 10px 0px 10px;
}
.TodoItem .TodoItem-div span {
    font-weight: 600;
    color: rgb(80, 80, 80);
}

.TodoItem .TodoItem-div .img {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #061425;
    background-image: url('/src/assets/todoItem.icon.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 6px 0.1px #0d1e34;
    

}

.TodoItem div.TodoItem-button {
    width: 100px;
    height: 100px;
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

}

.TodoItem .TodoItem-button button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color:  transparent;
    padding: 0;
    margin: 0;
}

.TodoItem button.checked{
    background-image: url('../assets/icon-check.png'); 
    background-position: center;
    background-size: 50%;
    
    background-repeat:no-repeat;
    background-color: #29ff49a8 ;
    box-shadow: 0px 0px 6px 0.1px #293441;
    
}
.TodoItem button.checked:hover{ 
    background-size: 52%;
    background-color:  #03e56c;;   
}
.TodoItem button.unchecked{
    background-image: url('/src/assets/icon-check.png'); 
    background-position: center;
    background-size: 50%;
    background-color:  #03030329;
    background-repeat:no-repeat;
    
}
.TodoItem button.unchecked:hover{
   
    background-size: 53%;
    background-color: #29ff49a8 ;
}

.TodoItem button.delete{
    background-image: url('/src/assets/close-icon.png'); 
    background-position: center;
    background-size: 50%;
    background-color:  #2123233a;
    opacity: 100%;
    background-repeat:no-repeat;  
}
.TodoItem button.delete:hover{
    background-image: url('/src/assets/close-icon.png'); 
    background-position: center;
    background-size: 55%;
    background-color:  #c1064ecf;
    opacity: 100%;
    background-repeat:no-repeat;  
}
/* Media query para teléfonos */
@media (max-width: 767px) {
    /* Estilos para pantallas de hasta 767px de ancho (teléfonos) */
    
  }
  
  /* Media query para tabletas */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para pantallas de 768px a 1023px de ancho (tabletas) */
    .TodoItem {

        min-height: 145px;
        max-height: 400px;
        min-width: 700px;    
    
    }
}
@media (min-width: 1024px) {
    .TodoItem {
    
        min-height: 145px;
        max-height: 400px;
        min-width: 800px;    
    
    }
    
  }