.TodoLoading{
    
    list-style: none;
    min-height: 145px;
    max-height: 400px;
    min-width: 350px;
    padding: 0px;
    margin: 0px 0px 01px 0px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 40px;
    box-shadow: 0px 1px 5px 1px#1b1c70;
    background-color: #92e5f4;
    background: linear-gradient(90deg, rgb(132, 244, 252) 20%, rgb(139, 187, 248) 38%);
    background-size: 400% 400%;
    animation: loading 1.4s ease-in-out infinite ;   
}

    

@keyframes loading {
    0%{
        
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}


