.contain {
    width: 95%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
    margin: 0px 10px 10px 10px;
}

.TodoSearch {
    height: 30px;
    min-width: 350px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: solid 1px white;
}

.TodoSearch:hover {
    box-shadow: 0px 0px 5px rgb(197, 197, 197);
}

.TodoSearch input {
    border: 0;
    width: 100%;
    height: 80%;
    background: 0;
    color: #F0F0F0;
    font-weight: 100;
    font-size: larger;
    margin-left: 5px;
    
}

.TodoSearch input:focus {
    outline: none;
}

.TodoSearch button {
    border: none;
    height: 90%;
    width: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-image: url('/src/assets/icon-search.svg');
    background-size: 130%;
    background-position: center;
}

.contain .TodoSearch-Group {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    /* border: solid 1px white; */
}

.contain .TodoSearch-Group span {}

.contain .TodoSearch-Group .boards {
    outline: none;
    height: 40px;
    width: 50%;
    font-size: 35px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: end;
    background: 0;
    color: #F0F0F0;
    border-bottom: solid 1px #F0F0F0;
    padding-bottom: 10px;
    cursor: pointer;
}
.contain .TodoSearch-Group .boards:hover {
    border-bottom: solid 4px #F0F0F0;
    color: #5580dd;
    
}
.contain .TodoSearch-Group .boards::after {
    
    border-bottom: solid 1px #F0F0F0;
    
}

.contain .TodoSearch-Group .task {
    outline: none;
    height: 40px;
    width: 50%;
    font-size: 35px;
    font-weight: 200;
    display: flex;
    justify-content: start;
    align-items: center;
    background: 0;
    color: #F0F0F0;
    border-bottom: solid 1px #F0F0F0;
    padding-bottom: 10px;
    cursor: pointer;
}
.contain .TodoSearch-Group .task:hover {
    border-bottom: solid 4px #F0F0F0;
    color: #5580dd;
    
}
.contain div.Search-filter{
    width: 100;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}
.contain div.Search-filter button{
    width: 75px;
    height: 80%;
    border-radius: 25px;
    margin-left: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    color: #F0F0F0;
    border: solid 2px #5580dd;

}
.contain div.Search-filter button:active{
    background-color: #5580dd;
    border: solid 2px #5580dd;;
}
.contain div.Search-filter button.active{
    background-color: #5580dd;
    border: solid 2px #5580dd;;
}